<?xml version="1.0"?>
    <config>
       <sections>
            <payment>
                <groups>
                    <Interkassa translate="label" module="paygate">
                        <label>Interkassa</label>
                        <sort_order>670</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>0</show_in_store>
                        <fields>

                            <active translate="label">
                                <label>Статус модуля(включен)</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>1</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </active>

                            <title translate="label">
                                <label>Название</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>2</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </title>

                            <merchant translate="label">
                                <label>Ид кассы</label>
                                <frontend_type>text</frontend_type>
                                <comment>Идентификатор кассы</comment>
                                <sort_order>4</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </merchant>

                            <secret_key translate="label">
                                <label>Секретный ключ</label>
                                <frontend_type>text</frontend_type>
                                <comment>Секретный ключ безопасноти</comment>
                                <sort_order>5</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </secret_key>


                            <test_key translate="label">
                                <label>Тестовый ключ</label>
                                <frontend_type>text</frontend_type>
                                <comment>Тестовый ключ безопасноти</comment>
                                <sort_order>6</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </test_key>

                            <currency translate="label">
                                <label>Валюта</label>
                                <frontend_type>text</frontend_type>
                                <comment>(UAH/RUB/EUR/USD)</comment>
                                <sort_order>7</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </currency>

                        </fields>
                    </Interkassa>
                </groups>
            </payment>
        </sections>
    </config>