<?xml version="1.0"?>
<config>
    <modules>
        <Interkassa_Interkassa>
            <version>1.5</version>
        </Interkassa_Interkassa>
    </modules>

    <global>
        <blocks>
            <Interkassa>
                <class>Interkassa_Interkassa_Block</class>
            </Interkassa>
        </blocks>
        <models>
            <Interkassa>
                <class>Interkassa_Interkassa_Model</class>
            </Interkassa>
        </models>
        <resources>
            <Interkassa_setup>
                <setup>
                    <module>Interkassa_Interkassa</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Interkassa_setup>
            <Interkassa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Interkassa_write>
            <Interkassa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Interkassa_read>
        </resources>
    </global>

    <frontend>
        <secure_url>
            <Interkassa_Redirect>/Interkassa/redirect/</Interkassa_Redirect>
            <Interkassa_Response>/Interkassa/response/</Interkassa_Response>
            <Interkassa_SelectPS>/Interkassa/selectps/</Interkassa_SelectPS>
        </secure_url>
        <routers>
            <Interkassa>
                <use>standard</use>
                <args>
                    <module>Interkassa_Interkassa</module>
                    <frontName>Interkassa</frontName>
                </args>
            </Interkassa>
        </routers>
    </frontend>
    <default>
        <payment>
            <Interkassa>
                <active>0</active>
                <title>Интеркасса</title>
                <payment_text><![CDATA[Платите с помощью банковских карт, в любой электронной валюте, с помощью сервисов мобильной коммерции (МТС, Мегафон, Билайн), платежи через интернет-банк ведущих Банков РФ, платежи через банкоматы, через терминалы мгновенной оплаты, через систему денежных переводов Contact.]]></payment_text>
                <model>Interkassa/Interkassa</model>
                <order_status>pending</order_status>
                <after_pay_status>complete</after_pay_status>
                <title>Pay via Interkassa</title>
                <currency>UAH</currency>
                <payment_action>generateForm</payment_action>
                <allowspecific>0</allowspecific>
            </Interkassa>
        </payment>
    </default>
</config>

